body{
  font-family: Arial, Helvetica, sans-serif;
}
.button{
  display: inline-block;
  margin-right: 10px;
  width: auto;
  height: 30px;
  padding: 0 15px 0 15px;
  line-height: 30px;
  background-color: paleturquoise;
  color: #292946;
}
.buttonClicked{
  display: inline-block;
  margin-right: 10px;

  width: auto;
  height: 30px;
  padding: 0 15px 0 15px;
  line-height: 30px;
  background-color: #292946;
  color: paleturquoise;
}
#input{
  margin: 10px;
  float: left;
  width: 100px;
  height: 30px;
  background-color: paleturquoise;
}
#submit{
  float: left;
  width: auto;
  height: 30px;
  margin: 10px;
  background-color: #537953;
  color: aliceblue;
}
#multi{
  float: left;
  width: auto;
  height: 30px;
  margin: 10px;
  background-color: #537953;
  color: aliceblue;
}
#clear{
  float: left;
  width: auto;
  height: 30px;
  margin: 10px;
  background-color: #537953;
  color: aliceblue;
}
#addFav{
  float: left;
  width: auto;
  height: 30px;
  margin: 10px;
  background-color: #537953;
  color: aliceblue;
}

.imgContainer{
  margin: 10px;
  float: left;
  width: 150px;
  height: 210px;
  background-color: palegoldenrod;
  border-style: solid;
  border-width: 5px;
  border-color: #537953;
}
.imgClick{
  margin-top: 0; 
  width: 150px;
  height: 150px;
}
.text{
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: #acf1ac;
  color: #537953;
}
.searchBar{
  width: 100%;
  height: 50px;
  margin: 10px;
}
.buttonBar{
  width: 100%;
  padding: 10px;
  height: 30px;
  background-color: #5a746b;
}
.buttonBar2{
  width: 100%;
  padding: 10px;
  height: 30px;
  background-color: #d88c8c;
}
.imageBar{
  width: 100%;
  margin: 10px;
}
.download{
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: #acf1ac;
  color: #537953;
}