.button{
  float: left;
  width: 100px;
  height: 100px;
  background-color: bisque;
}
#input{
  float: left;
  width: 100px;
  height: 50px;
  background-color: cadetblue;
}
#submit{
  float: left;
  width: 100px;
  height: 100px;
  background-color: palegreen;
}