.button{
  float: left;
  margin: 10px;
  width: auto;
  height: 30px;
  background-color: bisque;
}
#input{
  margin: 10px;
  float: left;
  width: 100px;
  height: 30px;
  background-color: cadetblue;
}
#submit{
  float: left;
  width: 60px;
  height: 30px;
  margin: 10px;
  background-color: palegreen;
}
.imgContainer{
  margin: 10px;
  float: left;
  width: 150px;
  height: 150px;
  background-color: palegoldenrod;
}
.imgClick{
  margin: 10px;
  margin-top: 0; 
  width: 130px;
  height: 130px;
}
.text{
  text-align: center;
  height: 25px;
  background-color: brown;
}
.searchBar{
  width: 100%;
  height: 50px;
  margin: 10px;
}
.buttonBar{
  width: 100%;
  height: 100px;
  margin: 10px;
}
.imageBar{
  width: 100%;
  margin: 10px;

}